[submodule "lib/XNez"]
	path = lib/XNez
	url = https://git.rie.icu/xdrie/XNez.git
[submodule "lib/Glint"]
	path = lib/Glint
	url = https://git.rie.icu/xdrie/Glint.git
[submodule "lib/LunchSimulator"]
	path = lib/LunchSimulator
	url = https://git.rie.icu/xdrie/LunchSimulator.git
[submodule "lib/iri.xgoap"]
	path = lib/iri.xgoap
	url = https://git.rie.icu/xdrie/iri.xgoap.git
